@import "tailwindcss";

/**
  * INFO: This file is used to override the default styles of the Next.js app.
  */
  :root {
    --vh: 100vh;
  }
  
  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  
  #__next {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #ffffff;
    color: #000000;
  }
  
  .global-suspense-container {
    width: '100%';
    height: '100%';
  }
  
  .global-loading-icon {
    position: 'relative';
    width: '7.5rem';
    height: '7.5rem';
  }
  
  /**
    * INFO: When hovering over a clickable element, the cursor should change to a pointer.
    */
  .clickable:hover {
    cursor: pointer;
  }
  
  /**
    * INFO: This class is used to hide the scrollbar.
    */
  .invisible-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .invisible-scroll::-webkit-scrollbar {
    display: none;
  }
  
  form {
    width: 100% !important;
  }
  
  .vertical-feed {
    background-color: rgba(128, 128, 128, 0.2);
    background-blend-mode: multiply;
  }
  
  .thumbnail-loading img {
    filter: blur(6px);
    clip-path: inset(0);
  }
  
  .thumbnail-loaded img {
    filter: blur(0px);
    transition: filter 0.5s linear;
  }
  